<div class="card">
  <h5 class="card-header">New Document</h5>
  
  <div class="card-body">
    <%= render 'form', document: @document %>
  </div>
</div>

<%= link_to 'Back', documents_path, class: 'btn btn-secondary mt-4' %>
