
<% if @documents.any? %>
  <div class="row">

    <% @documents.each do |document| %>

        <div class="card" style="width: 100%;">
        <div class="card-body">

        <div class="row">

          <div class="col-4">
          <img src="https://www.iconpacks.net/icons/2/free-pdf-download-icon-2617-thumb.png" class="card-img-top" alt="pdf image png">

          </div>
          <div class="col">
          <h5 class="card-title"><%= "#{document.title} - #{document.user.name} #{document.user.role.name} (#{document.user.college})" %></h5>
          <p><%= document.content %></p>
          <br>
          <%= link_to 'Preview', document.file, preview: '', class: 'btn btn-primary' %>
          <%= link_to 'Download', document.file, Dowload: '', class: 'btn btn-success' %> 
          </div>
          
          </div>
           
          </div>
        </div>

  <% end %>
  </div>
<% end %>